<a href="https://colab.research.google.com/github/VanillaOnlinePersona/Academy/blob/main/Session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#test2

In [17]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 43% 5.00M/11.6M [00:00<00:00, 49.2MB/s]
100% 11.6M/11.6M [00:00<00:00, 74.2MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 23.6MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [ ]:
7-3

4

In [ ]:
a==2
a

NameError: ignored

In [ ]:
a=2

In [ ]:
a

2

In [ ]:
a==3

False

In [ ]:
type a

SyntaxError: ignored

In [ ]:
type(a)

int

In [ ]:
cities = ['Paris','Zurich','Rame','Berlin','London']

In [ ]:
print(cities[-1])

London

In [ ]:
print(cities)

['Paris', 'Zurich', 'Rame', 'Berlin', 'London']

In [ ]:
cities[2] = 'Milan'

In [ ]:
print(cities)

['Paris', 'Zurich', 'Milan', 'Berlin', 'London']

In [ ]:
cities[5] = 'Hong Kong'

IndexError: ignored

In [ ]:
cities.insert(3,'Hong Kong')

In [ ]:
print(cities)

['Milan', 'Hong Kong', 'Berlin', 'London', 'Madrid']

In [ ]:
cities.append('Madrid')

In [ ]:
cities.remove('Paris')

In [ ]:
cities.remove(cities[0])

In [ ]:
new_list = [1,2,3]

In [ ]:
cities = cities + new_list

In [ ]:
print(cities)

['Milan', 'Hong Kong', 'Berlin', 'London', 'Madrid', 1, 2, 3]

In [ ]:
valueToBeRemoved = 2
cities = [element for element in cities if element != valueToBeRemoved]
print(cities)

['Milan', 'Hong Kong', 'Berlin', 'London', 'Madrid', 1, 3]

In [2]:
val=-3
if val > 0:
  print('value is positive')
elif val < 0:
  print('value is negative')
else:
  print('not a clue')

value is negative

In [4]:
fruit = ['apple','pear','cherry']
for element in fruit:
  print(element)

apple
pear
cherry

In [8]:
def area2(length,width):
  my_area = length * width
  return my_area

In [9]:
area2(3,4)

12

In [13]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

FileNotFoundError: ignored

In [37]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [15]:
!pwd

/content

In [16]:
!ls

sample_data

In [19]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [22]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [24]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [26]:
df.shape

(1599, 12)

In [27]:
len(df)

1599

In [28]:
df['fixed acidity'].head

<bound method NDFrame.head of 0        7.4
1        7.8
2        7.8
3       11.2
4        7.4
        ...
1594     6.2
1595     5.9
1596     6.3
1597     5.9
1598     6.0
Name: fixed acidity, Length: 1599, dtype: float64>

In [29]:
df[['fixed acidity','volatile acidity']].head(2)

   fixed acidity  volatile acidity
0            7.4              0.70
1            7.8              0.88

In [30]:
list_features_to_select = ['fixed acidity','volatile acidity']

In [31]:
print(list_features_to_select)

['fixed acidity', 'volatile acidity']

In [33]:
df['fixed acidity'] > 7

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [34]:
mask = df['fixed acidity'] > 7
mask

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [35]:
df[mask].min()

fixed acidity           7.10000
volatile acidity        0.12000
citric acid             0.00000
residual sugar          0.90000
chlorides               0.03800
free sulfur dioxide     1.00000
total sulfur dioxide    6.00000
density                 0.99007
pH                      2.74000
sulphates               0.33000
alcohol                 8.40000
quality                 3.00000
dtype: float64

In [36]:
df2 = df[mask]

In [41]:
mask2 = df['fixed acidity'].between(7,8)

In [42]:
df.mask2

AttributeError: ignored

In [43]:
mask3 = (((df['residual sugar'] >= 2.3 ¦ (df['residual sugar'] <=1.9) & (df['sulphates'] < 0.7301))
df[mask3].describe

SyntaxError: ignored